<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Exoplanet Project</title>
        {% else %}
        <title>Welcome to Expoplanet Project</title>
        {% endif %}
    </head>
    <body>
        <div>Exoplanet Project: 
            <a href="/index">Home</a>
            <a href="/entry">Enter Data</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock  %}
    </body>
</html>