{% extends 'base.html' %}
{% block content %}
    <h1>Exoplent Entry</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name (size=32) }}
        </p>
        <p>
            {{ form.system.label }}<br>
            {{ form.system (size=32) }}
        </p>
        <p>
            {{ form.method.label }}<br>
            {{ form.method (size=32) }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year (size=10) }}
        </p>
        <p> {{ form.submit }}</p>
    </form>
{% endblock  %}