{% extends 'base.html' %}

{% block content %}
    <h1>Update Exoplanet</h1>
    <p>
    {{planet.id}}. Planet <b>{{ planet.name }}</b>, System <b>{{planet.system}}</b>,
    Method <b>{{planet.method}}</b>, Year <b>{{planet.year}}</b>
    </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <p>
                {{ form.name.label }}<br>
                {{ form.name (size=32) }}
            </p>
            <p>
                {{ form.system.label }}<br>
                {{ form.system (size=32) }}
            </p>
            <p>
                {{ form.method.label }}<br>
                {{ form.method (size=32) }}
            </p>
            <p>
                {{ form.year.label }}<br>
                {{ form.year (size=10) }}
            </p>
            <p> {{ form.submit }}</p>
        </p>
    </form>
{% endblock content %}